{% extends "layout.html" %}

{% block content %}
    {% for post in posts %}
        <div class="card">
            <div class="card-header">
                <a class="mr-2" href="#">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
            </div>
            <!-- <div class="card-body">
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div> -->

            <div class=" card-body row">
                <div class="col-md-4">
                    <img class="thumb-img" src="/static/thumbs/{{ post.thumbnail }}" alt="thumbnail">
                </div>
                <div class="col-md-8">
                    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </div>
        </div>
        <br />
    {% endfor %}
{% endblock content %}
